/* Main CSS Here */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #3f0097;
    --one-use-color: #3f0097;
    --two-use-color: #5500cb;
}

body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 27px;
    font-weight: 600;
    color: #4151ff;
}

.icn {
    height: 30px;
}

.menuicn {
    cursor: pointer;
}

.searchbar,
.message,
.logosec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar2 {
    display: none;
}

.logosec {
    gap: 60px;
}

.searchbar input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    margin-bottom: 4px;
    font-size: 15px;
    outline: none;
    border: none;
}

.searchbtn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.message {
    gap: 40px;
    position: relative;
    cursor: pointer;
}

.circle {
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #fa7bb4;
    border-radius: 50%;
    left: 19px;
    top: 8px;
}

.dp {
    height: 40px;
    width: 40px;
    background-color: #626262;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}

.dpicn {
    height: 42px;
}

.main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
}

.main::-webkit-scrollbar-thumb {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.main::-webkit-scrollbar {
    width: 5px;
}

.main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.nav {
    min-height: 91vh;
    width: 250px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0px;
    left: 00;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 70px;
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {
    border-left: 2px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
}

.nav-img {
    height: 30px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option1 {
    border-left: 5px solid #010058af;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.option1:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
}

.option1 a {
    text-decoration: none;
    color: black;
}

.option1:hover a {
    color: white;
}

.option4 {
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.option4 a {
    text-decoration: none;
    color: black;
}

.option4:hover a {
    color: white;
}

.option4:hover {
    background-color: var(--Border-color);
}

.logout:hover {
    background-color: rgb(254, 176, 176);
    border-left: 5px solid rgb(254, 159, 159);
}


.topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

.topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
}

#show {
    visibility: visible;
}

#not-show {
    visibility: hidden;
}

/*Registration form*/

.row-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 1200px;
    margin: 0 auto;
}

.row {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.row h5 {
    color: #0093db;
    font-size: 16px;
    font-family: 'Santral-Medium';
    font-weight: 500;
    text-transform: uppercase;
    text-align: start;
    padding-bottom: 10px;
}

.row h2 {
    font-size: 34px;
}

.column1 {
    padding-top: 120px;
    padding-right: 50px;
}

/* form */

.formline1 {
    display: flex;
    gap: 20px;
}

.formline2 {
    display: flex;
    gap: 20px;
}

.formline3 {
    display: flex;
    gap: 20px;
}

.formline4 {
    display: flex;
    gap: 20px;
}

.textarea4 textarea {
    height: 200px;
}

textarea {
    font-size: 15px;
    width: 480px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    color: #808080;
}

textarea:focus {
    outline: 0;
}

input {
    font-size: 15px;
    width: 230px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    /* color: blue; */
}

#fname,
#lname,
#email,
#Pnumber,
#Company_Name,
#best_time_to_contact,
#password,
#repassword {
    background-color: rgb(241, 248, 253);
}

select {
    font-size: 15px;
    width: 230px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    color: #808080;
}

.select-control {
    display: flex;
    flex-direction: column;
}

input:focus {
    outline: 0;
}

select:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.select-control.success select {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.select-control.error select {
    border-color: #ff3860;
}


.input-control {
    display: flex;
    flex-direction: column;
}

.input-control .error-message {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.select-control .error-message {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.error-message-check {
    color: #ff3860;
    font-size: 14px;
    height: 13px;
}

.form-container {

    border-radius: 5px;
    padding: 20px;

}

button {
    background: #4CAF50;
    border-radius: 100px;
    padding: 15px 59px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Santral-Book' !important;
    font-weight: 400;
    border: none;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
}

button:hover {
    background: rgb(4, 107, 1);
}



/*responsive css*/

/* Responsive CSS Here */
@media screen and (max-width: 950px) {
    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 30px;
    }

    .nav-option h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 850px) {
    .nav-img {
        height: 30px;
    }

    .nav-option {
        gap: 30px;
    }

    .nav-option h3 {
        font-size: 20px;
    }

    .navcontainer {
        width: 100vw;
        position: absolute;
        transition: all 0.6s ease-in-out;
        top: 0;
        left: -100vw;
    }

    .nav {
        width: 100%;
        position: absolute;
    }

    .navclose {
        left: 00px;
    }

    .searchbar {
        display: none;
    }

    .main {
        padding: 40px 30px 30px 30px;
    }

}

@media screen and (max-width: 490px) {
    .message {
        display: none;
    }

    .logosec {
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        font-size: 20px;
    }

    .menuicn {
        height: 25px;
    }

    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 25px;
    }

    .nav-option h3 {
        font-size: 12px;
    }

    .nav-upper-options {
        gap: 15px;
    }

}

@media screen and (max-width: 400px) {

    .view {
        width: 60px;
        font-size: 10px;
        height: 27px;
    }


}

@media screen and (max-width: 320px) {

    .view {
        width: 50px;
        font-size: 8px;
        height: 27px;
    }

    .t-op {
        font-size: 12px;
    }

    .t-op-nextlvl {
        font-size: 10px;
    }

    .label-tag {
        width: 70px;
    }

    .searchbtn {
        width: 40px;
    }
}